:root {
  --transition-duration: 750ms;
  --transition-easing: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.c-card-offset__image-placeholder::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: calc(384 / 408 * 100%);
}

.c-card-offset__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: 75%;
  transition: height var(--transition-duration);
}

.c-card-offset__image img {
  transition: transform var(--transition-duration) var(--transition-easing);
  object-fit: cover;
}

.AnimatedPicComponent:hover ~ .c-card-offset__image,
.AnimatedPicContainer:hover .c-card-offset__image {
  height: 100%;
  transition: height var(--transition-duration) var(--transition-easing);
}

.AnimatedPicContainer:hover .c-card-offset__image img,
.AnimatedPicComponent:hover ~ .c-card-offset__image img {
  transition: transform var(--transition-duration) var(--transition-easing);
  transform: scale(1.2);
}

.c-card-offset__image > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-image--cover:hover {
  width: 100%;
  height: 100%;
}

@media (max-width: 776px) {
  .c-card-offset__image {
    height: 100%;
  }
  .c-image--cover {
    transform: scale(1.2);
  }
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: #2b3241;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 5px auto auto auto;
  letter-spacing: 4px;
}
.login-box a:hover {
  background: #2b3241;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2b3241, 0 0 25px #2b3241, 0 0 50px #2b3241,
    0 0 100px #2b3241;
}
.login-box a span {
  position: absolute;
  display: block;
}
.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, whitenp);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, whitenp);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, whitenp);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, whitenp);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@property --r {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
#a {
  position: relative;
  cursor: pointer;
  background: conic-gradient(from var(--r), #222 0%, #eee 10%, #222 20%);
  animation: rotating 3s linear infinite;
}
#a:hover::after {
  opacity: 0.5;
}
#a::after {
  content: "";
  display: block;
  position: absolute;
  background: #2b3241;
  border-radius: 10px;
  inset: 5px;
  z-index: 1;
  transition: opacity 0.3s ease;
}
@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 15px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

/* animated scroll arrow animation */
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-webkit-keyframes extend {
  0% {
    width: 300px;
    height: 50px;
    border-radius: 100px;
  }
  10% {
    width: 310px;
    height: 50px;
    background: #d9d9d9;
    margin-left: -5px;
    margin-top: -5px;
  }
  20% {
    width: 300px;
    height: 50px;
    background: #d9d9d9;
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    margin-left: 190px;
    background: #d9d9d9;
  }
}
@keyframes extend {
  0% {
    width: 300px;
    height: 50px;
    border-radius: 100px;
  }
  10% {
    width: 310px;
    height: 50px;
    background: #d9d9d9;
    margin-left: -5px;
    margin-top: -5px;
  }
  20% {
    width: 300px;
    height: 50px;
    background: #d9d9d9;
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 130px;
    margin-right: auto;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  20% {
    color: #fff;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  20% {
    color: #fff;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cont {
  position: relative;

  height: 10px;
  margin: auto auto;
}

.submit-btn {
  border-width: 1px;
  max-width: 500px;
  width: 100%;
  height: 50px;
  color: #6dad7d;
  /*border-radius*/
  border-radius: 10px;
  background: #d9d9d9;
  position: absolute;
  border: 5px solid #6dad7d;
}

.submit-btn > span {
  font-size: 20px;
}

.submit-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.submit-btn:focus {
  /*animation*/
  -webkit-animation: extend 1s ease-in-out;
  -ms-animation: extend 1s ease-in-out;
  animation: extend 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}

.submit-btn:focus > span {
  /*animation*/
  -webkit-animation: disappear 1s ease-in-out;
  -ms-animation: disappear 1s ease-in-out;
  animation: disappear 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}

.submit-btn:focus > .submit-img {
  /*animation*/
  -webkit-animation: appear 1s ease-in-out;
  -ms-animation: appear 1s ease-in-out;
  animation: appear 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}

.drop-in {
  animation: drop-in 1200ms ease 200ms backwards;
}

.drop-in-2 {
  animation: drop-in 2000ms ease 500ms backwards;
}
.drop-in-3 {
  animation: drop-in 2500ms ease 500ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 1;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.swiper {
  width: 100%;
  height: screen;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;

  object-fit: cover;
}
.carousel-div::after {
  content: "";
  backdrop-filter: blur(15px);
}
.carousel-div::before {
  content: "Updated Soon";
  backdrop-filter: blur(0px);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.contact-card {
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3,
    43%,
    #4e00c2
  );
  opacity: 1;
  z-index: -1;
  top: -1%;
  left: -2%;
  transition: opacity 0.5s;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;

    box-shadow: 0 0 10px #4e00c2, 0 0 25px #3c67e3, 0 0 50px #5ddcff;
  }
  100% {
    --rotate: 360deg;

    box-shadow: 0 0 5px, 0 0 10px #3c67e3, 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}

.wave-section {
  background: linear-gradient(-45deg, #ee5425, #e71364, #089acf, #0bcea0);
  background-size: 400% 400%;
  animation: gradient-bg 15s ease infinite;
}
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wave {
  background: url("https://github.com/animation-coding/css-wave/raw/master/wave.png");
  background-size: 1000px 100px;
  z-index: 1;
  animation: animate1 25s linear infinite;
}
.wave:nth-child(2) {
  animation: animate2 15s linear infinite;
  animation-delay: -5s;
  opacity: 0.5;
}
.wave:nth-child(3) {
  animation: animate1 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -5s;
  opacity: 0.2;
}

@keyframes animate1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
